#Annoying stuff
*.swp
*~
*.DS_Store
**/.DS_Store
.DS_Store
.last_sas*
*.sassie_json
*.sassie_log

build

# byte compiled python
*.pyc

# C extensions
*.o
*.so

*.egg-info
run_*

src_2.7/sassie/calculate/sascalc/sascalc_library/extensions/lib/

