*.dcd filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
util filter=lfs diff=lfs merge=lfs -text
__init__.py filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
interface filter=lfs diff=lfs merge=lfs -text
script filter=lfs diff=lfs merge=lfs -text
system_integration filter=lfs diff=lfs merge=lfs -text
test_simulate filter=lfs diff=lfs merge=lfs -text
